.navbar {
  color: white;
  background-color: #070c18f6 !important;
}

.navbar-brand {
  font-size: 22px;
  color: white !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

ul li {
  margin-right: 15px;
}

ul li:hover {
  background-color: #1f2937ef;
  border-radius: 5px;
}

ul li a {
  color: #cad9e5 !important;
}

/* .active {
  background-color: #1f2937;
  color: white !important;
  border-radius: 5px;
} */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(190, 228, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
